body{
	background-color: blue;
}
ul{
	list-style: none;
	width:250px;
	margin-left: -45px;
}
li{
	color:white;
	font-size:1.2em;
	width:100%;
	border-bottom: 1px dashed gray;
	text-indent: 25px;
	margin-bottom: 15px;
	cursor: pointer;
}
.ingredient{
	width:75% !important;
	display:inline !important;
	margin-bottom: 7px;
}
.measurement{
	width:20% !important;
	display:inline !important;
}
.step{
	margin-bottom: 5px;
}
#steps{
	width:60%;
	float:left;
}
h2{
	color:white !important;
	width:100%;
	text-align: center;
}
h1{
	font-size:48pt !important;
}
h1 small span{
	font-size:14pt;
	margin-right:10px;
}
main h3{
	margin-left: -65px;
}
#title{
	width:60%;
	display: inline;
	float:left;
}
#image{
	width:35%;
	max-width:300px;
	display: inline;
	float:right;
	margin:25px 50px;
}
#image img{
	border-radius: 50%;
	width:100%;
}
.row{
	margin-left:15px !important;
}
#ingredients{
	width:25%;
	float:right;
	margin-right: 25px;
}
.measurement2{
	float:right;
	margin-top: -25px;
}
aside a{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
main span{
	cursor: pointer;
	padding-left: 50pt;

}
head{
	position: absolute;
}