body,h1{
	background-color: #99ebff;
}
aside{
	background-color: black;
	width:250px;
	height:100%;
	position: fixed;
	top: 0;
	left: 0;
}
main{
	background-color: 76B8CF;
	position: relative;
	left:250px;
	width:85%;
}
#profilePic{
	border-radius: 50%;
	margin: 15px;
	width: 200px;
}
h3{
	color:white;
	width:250px;
	text-align: center;
	margin-top:50px;
}
.book{
	/*background-color:gray;*/
	width:250px;
	height:350px;
	display:inline-block;
	/*background-image: url("/images/book.png");*/
	border: 3px solid black;
	border-radius: 3px;
	cursor: pointer;
}
#lastBook{
	background-image: url("/images/new_book.png");
	margin-top: -10px;
	padding-top: 41px;
}
.book h3{
	padding-top:15px;
	font-size: 18pt;
}
header{
	width: 120%;
	background-color: black;
	height: 60px;
	color: white;
	right: 10%;
}
