body{
	background-color: #99ebff;
}

form,h1{
	position: absolute; 
	top: 12%;
	left: 40%;
	width:300px;
}
video{
	position: absolute;
	left: 35%;
	top: 35%;
	color: black;

}
a{
	position: absolute;
	left:47%; 
	top:26.5%;

}